// --------------- WHITE & DARK THEMES ---------------
.element {
    background-color: $elem-white;
    transition: background $duration ease, color $duration ease;
}

.element.dark {
    background-color: $elem-dark;
    color: $bg-white;
}

.background {
    background-color: $bg-white;
    transition: background $duration ease, color $duration ease;
}

.background.dark {
    background-color: $bg-dark;
    color: $bg-white;
}

// --------------- MEDIA QUERIES MIXINS ---------------
// MAX WIDTH
@mixin mediaQueryMax($max-width) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}

// MIN WIDTH
@mixin mediaQueryMin($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

// --------------- UTILITY CLASSES ---------------
// CONTAINER
.container {
    width: 85%;
    max-width: 135rem;
    margin: 0 auto;

    @include mediaQueryMax(340px) {
        width: 90%;
    }
}

// FLEX CENTERED VERTICALLY
.flex-center-y {
    display: flex;
    align-items: center;
}

// FLEX CENTERED HORIZONTALLY
.flex-centered-x {
    display: flex;
    justify-content: center;
}

// FLEX CENTERED BOTH VERTICALLY & HORIZONTALLY
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

// BUTTON
.btn {
    border: none;
    border-radius: 0.5rem;
    font-family: inherit;
    transition: transform $duration ease;
    cursor: pointer;

    &:hover {
        transform: scale(0.94);
    }
}

// --------------- JAVASCRIPT TRIGGERED CLASSES ---------------
// ICON CUSTOMIZATION ON DARK MODE
.theme-icon.on {
    color: rgb(236, 214, 90);
}

// HIDE MAIN SECTION & SCROLL BUTTON
.main-section.hide, .scroll-top.hide {
    display: none;
}

// DISPLAY OVERLAY
.country-overlay.display {
    display: block;
}
